.native-overview-front [data-source-line="0"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="1"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="2"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="3"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="4"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="5"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="6"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="7"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="8"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="9"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="10"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="11"]{font-size:1.9819cqw!important;--hb-label-color:#404041;}
.native-overview-front [data-source-line="12"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="13"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="14"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="15"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="16"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="17"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="18"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="19"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="20"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="21"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="22"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="23"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="24"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="25"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="26"]{font-size:1.4157cqw!important;--hb-label-color:#6d6e71;}
.native-overview-front [data-source-line="27"]{font-size:1.9638cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="0"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="1"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="2"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="3"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="4"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="5"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="6"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="7"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="8"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="9"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="10"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="11"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="12"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="13"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="14"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="15"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="16"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="17"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="18"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="19"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="20"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-lcd-map [data-source-line="21"]{font-size:2.2641cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="0"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="1"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="2"]{font-size:1.9108cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="3"]{font-size:1.9108cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="4"]{font-size:1.9108cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="5"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="6"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="7"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="8"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="9"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="10"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-power [data-source-line="11"]{font-size:2.2293cqw!important;--hb-label-color:#404041;}
.native-ac-output [data-source-line="0"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-ac-output [data-source-line="1"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-ac-output [data-source-line="2"]{font-size:2.5478cqw!important;--hb-label-color:#404041;}
.native-ac-output [data-source-line="3"]{font-size:1.9108cqw!important;--hb-label-color:#404041;}
.native-ac-output [data-source-line="4"]{font-size:1.9108cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="0"]{font-size:2.5397cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="1"]{font-size:3.1746cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="2"]{font-size:3.1746cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="3"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="4"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="5"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="6"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="7"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="8"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="9"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="10"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="11"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="12"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="13"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="14"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="15"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="16"]{font-size:2.5481cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="17"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="18"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="19"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-dc-usb [data-source-line="20"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-energy-buttons [data-source-line="0"]{font-size:2.1875cqw!important;--hb-label-color:#404041;}
.native-energy-buttons [data-source-line="1"]{font-size:2.1875cqw!important;--hb-label-color:#404041;}
.native-energy-buttons [data-source-line="2"]{font-size:2.1875cqw!important;--hb-label-color:#404041;}
.native-ups [data-source-line="0"]{font-size:2.1672cqw!important;--hb-label-color:#404041;}
.native-car-charge [data-source-line="0"]{font-size:2.1677cqw!important;--hb-label-color:#404041;}
.native-car-charge [data-source-line="1"]{font-size:2.1677cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="0"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="1"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="2"]{font-size:2.2222cqw!important;--hb-label-color:#ffffff;}
.native-bottom-cleaning [data-source-line="3"]{font-size:2.2222cqw!important;--hb-label-color:#ffffff;}
.native-bottom-cleaning [data-source-line="4"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="5"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="6"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="7"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="8"]{font-size:2.2222cqw!important;--hb-label-color:#ffffff;}
.native-bottom-cleaning [data-source-line="9"]{font-size:2.2222cqw!important;--hb-label-color:#ffffff;}
.native-bottom-cleaning [data-source-line="10"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="11"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="12"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-bottom-cleaning [data-source-line="13"]{font-size:2.2222cqw!important;--hb-label-color:#404041;}
.native-app-add [data-source-line="0"]{font-size:4.2945cqw!important;--hb-label-color:#404041;}
.native-app-add [data-source-line="1"]{font-size:4.2945cqw!important;--hb-label-color:#404041;}
.native-app-network [data-source-line="0"]{font-size:2.3333cqw!important;--hb-label-color:#404041;}
.native-app-network [data-source-line="1"]{font-size:2.3333cqw!important;--hb-label-color:#404041;}
.native-app-result [data-source-line="0"]{font-size:2.6316cqw!important;--hb-label-color:#404041;}
.native-app-result [data-source-line="1"]{font-size:2.6316cqw!important;--hb-label-color:#404041;}
.native-app-result [data-source-line="2"]{font-size:2.6316cqw!important;--hb-label-color:#404041;}
